<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample Design</title>

  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header>
    <h1><a href="./index.html">WEB</a></h1>
    world wide web!
  </header>

  <nav>
    <ul>
      <li><a href="./html.html" class="active">HTML</a></li>
      <li><a href="./css.html">CSS</a></li>
      <li><a href="./js.html">JavaScript</a></li>
    </ul>
  </nav>

  <article>
    <h2 class="article_title">HTML</h2>
    HTML is Hyper Text Markup Language

    <div class="buttons">
      <button onclick="location.href = './create.html'">Create</button>
      <button onclick="location.href = './update.html'">Update</button>
      <button onclick="location.href = './index.html'">Delete</button>
    </div>
  </article>
</body>
</html>